{% layout "layout-default.liquid" %}

{% block %}

<div class="container-wrapper pt25 pb25">
    <section class="container">
        <div class="" style="width: 100%;">
            <div class="flex flexdir-col gap1 full-width mb6">
                <p class="p0 m0 textcallout1 header2">A quick bit</p>
                <h2 class="m0 p0 textcallout1 header1">About Zach</h2>
            </div>
            <div class="flex flexdir-col gap5" style="width: 100%; height: 100%;">
                <div class="flex flexdir-col gap2 full-width">
                    <div>
                        <p class="pt0 mt0">Hello there! My name is Zach. I've designed for SaaS (software-as-a-service) that utilizes AI/ML, done project management and product ownership, developed frontends, taught basic Python to startup founders in an introductory AI/ML course, and now produce/host podcasts on Deno, a newer Javascript/Typescript runtime, and TensorFlow, a ML/DL library.</p>
                        <p>Currently, my work is around designing and developing Webflow and Shopify sites for various businesses.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}