{% layout "layout-default.liquid" %}

{% block %}

<div class="container-wrapper pt25 pb25">
    <section class="container">
        <div class="" style="width: 100%;">
            <div class="flex flexdir-col gap1 full-width mb6">
                <p class="p0 m0 textcallout1 header2">Well... nothing was found...</p>
                <h1 class="m0 p0 textcallout1 header1">404</h1>
            </div>
        </div>
    </section>
</div>
{% endblock %}