{% layout "layout-default.liquid" %}

{% block %}

<div class="container-wrapper pt25 pb25">
    <section class="container">
        <div class="" style="width: 100%;">
            <div class="flex flexdir-col gap1 full-width mb6">
                <p class="p0 m0 textcallout1 header2">Here are some</p>
                <h2 class="m0 p0 textcallout1 header1">Testimonials Related To Web & SaaS Work</h2>
            </div>
            <div class="flex flexdir-col gap5 mb4" style="width: 100%; height: 100%;">
                <div class="flex flexdir-col gap1 full-width">
                    <div class="flex flexdir-col gap1 full-width mb3">
                        <div>
                            <p class="p0 m0 pb2 textcallout1 overline">Idelic</p>
                            <h2 class="m0 p0  pb2 textcallout1 header3">Robert</h2>
                        </div>
                        <div>
                            <p class="pt0 m0 pb1">Zach's title of a UI/UX Designer doesn't encompass the full scope of all the work he was involved in. His UI/UX designs are incredible and I'd readily recommend him just for those alone, but there's a lot more to what he did for Idelic. He regularly wore the hat of a Product Manager/Owner as he was constantly working on defining requirements, building UI designs, and setting strategic direction. Zach was always open to being my sounding board and letting me bounce strategic agendas off of him. His feedback has been so valuable in shaping Idelic's Product offerings and helping us to grow as a company. He was always able to take rough requirements and turn them into UI designs that were clear and concise. He has the respect of everyone that he's worked with - internal and external. When Zach jumped on a call with clients, you knew you were in good hands with him helping to guide through challenging issues and getting customers to see exactly what we were doing and why. His adaptability to the audience was huge in dealing with some more difficult situations. I personally can't wait to see where he goes career wise and have a feeling that I will be reaching out to work for him at some point. He's got huge potential and shows it when given the opportunity to show what he can do. To anyone looking at him for future employment opportunities, I'd highly recommend taking a chance on him even if others have more experience as he constantly impressed everyone with what he can do and rises to the challenge.</p>
                        </div>
                    </div>
                    <div class="flex flexdir-col gap1 full-width mb6">
                        <div>
                            <p class="p0 m0 pb2 textcallout1 overline">Pizza Peño</p>
                            <h2 class="m0 p0  pb2 textcallout1 header3">Malav</h2>
                        </div>
                        <div>
                            <p class="pt0 m0 pb1">Zach was a great person to work with. He was responsive, knowledgeable, and was always trying to go the extra mile. He knows what he's doing and it shows in the final product.</p>
                            <p class="pt0 m0 pb1">If you are thinking of going with someone else, don't.</p>
                        </div>
                    </div>
                    <div class="flex flexdir-col gap1 full-width mb6">
                        <div>
                            <p class="p0 m0 pb2 textcallout1 overline">El Burro</p>
                            <h2 class="m0 p0  pb2 textcallout1 header3">Wes</h2>
                        </div>
                        <div>
                            <p class="pt0 m0 pb1">Zach took the time to meet with me to really understand my businesses vision and branding. He was able to take this information and bring our website to life. The site is user friendly and this allows me to make changes when needed in an always changing industry. Zach was there to assist in all stages of site development and has made time availabile after completion as well. I recommend Zach for website development from simple web pages to sites requiring e-commerce.</p>
                        </div>
                    </div>
                    <div class="flex flexdir-col gap1 full-width mb6">
                        <div>
                            <p class="p0 m0 pb2 textcallout1 overline">Chugs R' Us</p>
                            <h2 class="m0 p0  pb2 textcallout1 header3">Nikko</h2>
                        </div>
                        <div>
                            <p class="pt0 m0 pb1">I recently had the pleasure of working with Zach on the creation of ChugsRUs, and I couldn't be more pleased with the outcome. From the very beginning, Zach was attentive and responsive, taking the time to understand my vision and the unique culture and vibe that I wanted to convey through my site. </p>
                            <p class="pt0 m0 pb1">Throughout the design process, Zach demonstrated a keen eye for detail and a true commitment to creating a site that was not only visually stunning, but also user-friendly and functional. I was impressed with his ability to incorporate my feedback and make adjustments quickly and efficiently, which made the entire process a breeze. </p>
                            <p class="pt0 m0 pb1">In the end, I am thrilled with the final product, and I owe it all to Zach. I would highly recommend him to anyone in need of a website designer who is both talented and easy to work with. Thank you, Zach, for bringing my vision to life! </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex flexdir-col gap1 full-width mb6">
                <p class="p0 m0 textcallout1 header2">Here are some</p>
                <h2 class="m0 p0 textcallout1 header1">Testimonials Related To Branding Work</h2>
            </div>
            <div class="flex flexdir-col gap5" style="width: 100%; height: 100%;">
                <div class="flex flexdir-col gap1 full-width">
                    <div class="flex flexdir-col gap1 full-width mb3">
                        <div>
                            <p class="p0 m0 pb2 textcallout1 overline">Clint's Coffee</p>
                            <h2 class="m0 p0  pb2 textcallout1 header3">Clint</h2>
                        </div>
                        <div>
                            <p class="pt0 m0 pb1">I'm Clint, the owner of Clint's Coffee and I had the great luck of working with Zach as he redesigned my company logo and created all of my branding. Zach has the rare ability to be able to take vague ideas (mine) and turn them into a finished product that still has the feel I'm looking for while going way above and beyond what I had planned. He's one of the most creative people I've ever worked with and has the technical ability to bring his ideas to life. He also has a great attitude and never missed a beat if I asked him to change something or when I had to cancel a meeting with him on short notice. A true professional who always has a smile on his face</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}