.mx { margin: 0 auto; }
.my { margin: auto 0; }
.m0 { margin: 0; }

.mt0 { margin-top: 0px }
.mt1 { margin-top: 4px; }
.mt2 { margin-top: 8px; }
.mt3 { margin-top: 16px; }
.mt4 { margin-top: 24px; }
.mt5 { margin-top: 32px; }
.mt6 { margin-top: 40px; }
.mt7 { margin-top: 48px; }
.mt8 { margin-top: 56px; }
.mt9 { margin-top: 64px; }
.mt10 { margin-top: 72px; }
.mt11 { margin-top: 80px; }
.mt12 { margin-top: 88px; }
.mt13 { margin-top: 96px; }
.mt14 { margin-top: 104px; }
.mt15 { margin-top: 112px; }
.mt16 { margin-top: 120px; }
.mt17 { margin-top: 128px; }
.mt18 { margin-top: 136px; }
.mt19 { margin-top: 144px; }
.mt20 { margin-top: 152px; }
.mt21 { margin-top: 160px; }
.mt22 { margin-top: 168px; }
.mt23 { margin-top: 176px; }
.mt24 { margin-top: 184px; }
.mt25 { margin-top: 192px; }
.mt26 { margin-top: 200px; }
.mt27 { margin-top: 208px; }
.mt28 { margin-top: 216px; }

.mr0 { margin-right: 0px }
.mr1 { margin-right: 4px; }
.mr2 { margin-right: 8px; }
.mr3 { margin-right: 16px; }
.mr4 { margin-right: 24px; }
.mr5 { margin-right: 32px; }
.mr6 { margin-right: 40px; }
.mr7 { margin-right: 48px; }
.mr8 { margin-right: 56px; }
.mr9 { margin-right: 64px; }
.mr10 { margin-right: 72px; }
.mr11 { margin-right: 80px; }
.mr12 { margin-right: 88px; }
.mr13 { margin-right: 96px; }
.mr14 { margin-right: 104px; }
.mr15 { margin-right: 112px; }
.mr16 { margin-right: 120px; }
.mr17 { margin-right: 128px; }
.mr18 { margin-right: 136px; }
.mr19 { margin-right: 144px; }
.mr20 { margin-right: 152px; }
.mr21 { margin-right: 160px; }
.mr22 { margin-right: 168px; }
.mr23 { margin-right: 176px; }
.mr24 { margin-right: 184px; }
.mr25 { margin-right: 192px; }
.mr26 { margin-right: 200px; }
.mr27 { margin-right: 208px; }
.mr28 { margin-right: 216px; }

.ml0 { margin-left: 0px }
.ml1 { margin-left: 4px; }
.ml2 { margin-left: 8px; }
.ml3 { margin-left: 16px; }
.ml4 { margin-left: 24px; }
.ml5 { margin-left: 32px; }
.ml6 { margin-left: 40px; }
.ml7 { margin-left: 48px; }
.ml8 { margin-left: 56px; }
.ml9 { margin-left: 64px; }
.ml10 { margin-left: 72px; }
.ml11 { margin-left: 80px; }
.ml12 { margin-left: 88px; }
.ml13 { margin-left: 96px; }
.ml14 { margin-left: 104px; }
.ml15 { margin-left: 112px; }
.ml16 { margin-left: 120px; }
.ml17 { margin-left: 128px; }
.ml18 { margin-left: 136px; }
.ml19 { margin-left: 144px; }
.ml20 { margin-left: 152px; }
.ml21 { margin-left: 160px; }
.ml22 { margin-left: 168px; }
.ml23 { margin-left: 176px; }
.ml24 { margin-left: 184px; }
.ml25 { margin-left: 192px; }
.ml26 { margin-left: 200px; }
.ml27 { margin-left: 208px; }
.ml28 { margin-left: 216px; }

.mb0 { margin-bottom: 0px }
.mb1 { margin-bottom: 4px; }
.mb2 { margin-bottom: 8px; }
.mb3 { margin-bottom: 16px; }
.mb4 { margin-bottom: 24px; }
.mb5 { margin-bottom: 32px; }
.mb6 { margin-bottom: 40px; }
.mb7 { margin-bottom: 48px; }
.mb8 { margin-bottom: 56px; }
.mb9 { margin-bottom: 64px; }
.mb10 { margin-bottom: 72px; }
.mb11 { margin-bottom: 80px; }
.mb12 { margin-bottom: 88px; }
.mb13 { margin-bottom: 96px; }
.mb14 { margin-bottom: 104px; }
.mb15 { margin-bottom: 112px; }
.mb16 { margin-bottom: 120px; }
.mb17 { margin-bottom: 128px; }
.mb18 { margin-bottom: 136px; }
.mb19 { margin-bottom: 144px; }
.mb20 { margin-bottom: 152px; }
.mb21 { margin-bottom: 160px; }
.mb22 { margin-bottom: 168px; }
.mb23 { margin-bottom: 176px; }
.mb24 { margin-bottom: 184px; }
.mb25 { margin-bottom: 192px; }
.mb26 { margin-bottom: 200px; }
.mb27 { margin-bottom: 208px; }
.mb28 { margin-bottom: 216px; }