.grid { display: grid; display: -ms-grid; }
.fixed { position: fixed; }
.block { position: block; }
.sticky { position: sticky; }
.relative { position: relative; }
.absolute { position: absolute; }
.absolute-horizontally-center { left: 50%; transform: translateX(-50%); }
.static { position: static; }
.hide { display: none !important; }
.flex { display: flex; display: -ms-flexbox; }
.flexwrap-true { flex-wrap: wrap; -ms-flex-wrap: wrap; }
.flexwrap-false { flex-wrap: nowrap; }
.flexdir-row { flex-direction: row; }
.flexdir-rowrev { flex-direction: row-reverse; }
.flexdir-col { flex-direction: column; }
.flexdir-colrev { flex-direction: column-reverse; }
.justify-between { justify-content: space-between; }
.justify-around { justify-content: space-around; }
.vertically-center { align-items: center; -ms-flex-align: center; }
.vertically-end { align-items: end; -ms-flex-align: end; }
.vertically-stretch { align-items: stretch; -ms-flex-align: stretch;}

.gap0 { gap: 0px }
.gap1 { gap: 4px; }
.gap2 { gap: 8px; }
.gap3 { gap: 16px; }
.gap4 { gap: 24px; }
.gap5 { gap: 32px; }
.gap6 { gap: 40px; }
.gap7 { gap: 48px; }
.gap8 { gap: 56px; }
.gap9 { gap: 64px; }
.gap10 { gap: 72px; }
.gap11 { gap: 80px; }
.gap12 { gap: 88px; }
.gap13 { gap: 96px; }
.gap14 { gap: 104px; }
.gap15 { gap: 112px; }
.gap16 { gap: 120px; }
.gap17 { gap: 128px; }
.gap18 { gap: 136px; }
.gap19 { gap: 144px; }
.gap20 { gap: 152px; }
.gap21 { gap: 160px; }
.gap22 { gap: 168px; }
.gap23 { gap: 176px; }
.gap24 { gap: 184px; }
.gap25 { gap: 192px; }
.gap26 { gap: 200px; }
.gap27 { gap: 208px; }
.gap28 { gap: 216px; }

.gridcols1 { grid-template-columns: repeat(1, minmax(0, 1fr)); }
.gridcols2 { grid-template-columns: repeat(2, minmax(0, 1fr)); }
.gridcols3 { grid-template-columns: repeat(3, minmax(0, 1fr)); }
.gridcols4 { grid-template-columns: repeat(4, minmax(0, 1fr)); }
.gridcols5 { grid-template-columns: repeat(5, minmax(0, 1fr)); }
.gridcols6 { grid-template-columns: repeat(6, minmax(0, 1fr)); }
.gridcols7 { grid-template-columns: repeat(7, minmax(0, 1fr)); }
.gridcols8 { grid-template-columns: repeat(8, minmax(0, 1fr)); }
.gridcols9 { grid-template-columns: repeat(9, minmax(0, 1fr)); }
.gridcols10 { grid-template-columns: repeat(10, minmax(0, 1fr)); }
.gridcols11 { grid-template-columns: repeat(11, minmax(0, 1fr)); }
.gridcols12 { grid-template-columns: repeat(12, minmax(0, 1fr)); }
.gridcols13 { grid-template-columns: repeat(13, minmax(0, 1fr)); }

.colstart1 { grid-column-start: 1; }
.colstart2 { grid-column-start: 2; }
.colstart3 { grid-column-start: 3; }
.colstart4 { grid-column-start: 4; }
.colstart5 { grid-column-start: 5; }
.colstart6 { grid-column-start: 6; }
.colstart7 { grid-column-start: 7; }
.colstart8 { grid-column-start: 8; }
.colstart9 { grid-column-start: 9; }
.colstart10 { grid-column-start: 10; }
.colstart11 { grid-column-start: 11; }
.colstart12 { grid-column-start: 12; }
.colstart13 { grid-column-start: 13; }

.colend1 { grid-column-end: 1; }
.colend2 { grid-column-end: 2; }
.colend3 { grid-column-end: 3; }
.colend4 { grid-column-end: 4; }
.colend5 { grid-column-end: 5; }
.colend6 { grid-column-end: 6; }
.colend7 { grid-column-end: 7; }
.colend8 { grid-column-end: 8; }
.colend9 { grid-column-end: 9; }
.colend10 { grid-column-end: 10; }
.colend11 { grid-column-end: 11; }
.colend12 { grid-column-end: 12; }
.colend13 { grid-column-end: 13; }

.colspan1 { grid-column: span 1; }
.colspan2 { grid-column: span 2; }
.colspan3 { grid-column: span 3; }
.colspan4 { grid-column: span 4; }
.colspan5 { grid-column: span 5; }
.colspan6 { grid-column: span 6; }
.colspan7 { grid-column: span 7; }
.colspan8 { grid-column: span 8; }
.colspan9 { grid-column: span 9; }
.colspan10 { grid-column: span 10; }
.colspan11 { grid-column: span 11; }
.colspan12 { grid-column: span 12; }
.colspan13 { grid-column: span 13; }

@media screen and (max-width: 599px) {
    .grid-xs { display: grid; display: -ms-grid; }
    .fixed-xs { position: fixed; }
    .block-xs { position: block; }
    .sticky-xs { position: sticky; }
    .relative-xs { position: relative; }
    .absolute-xs { position: absolute; }
    .static-xs { position: static; }
    .hide-xs { display: none !important; }
    .flex-xs { display: flex; display: -ms-flexbox; }
    .flexwrap-true-xs { flex-wrap: wrap; -ms-flex-wrap: wrap; }
    .flexwrap-false-xs { flex-wrap: nowrap; }
    .flexdir-row-xs { flex-direction: row; }
    .flexdir-rowrev-xs { flex-direction: row-reverse; }
    .flexdir-col-xs { flex-direction: column; }
    .flexdir-colrev-xs { flex-direction: column-reverse; }
    .justify-between-xs { justify-content: space-between; }
    .justify-around-xs { justify-content: space-around; }
    .vertically-center-xs { align-items: center; -ms-flex-align: center; }
    .vertically-stretch-xs { align-items: stretch; -ms-flex-align: stretch;}
    
    .gap0-xs { gap: 0px }
    .gap1-xs { gap: 4px; }
    .gap2-xs { gap: 8px; }
    .gap3-xs { gap: 16px; }
    .gap4-xs { gap: 24px; }
    .gap5-xs { gap: 32px; }
    .gap6-xs { gap: 40px; }
    .gap7-xs { gap: 48px; }
    .gap8-xs { gap: 56px; }
    .gap9-xs { gap: 64px; }
    .gap10-xs { gap: 72px; }
    .gap11-xs { gap: 80px; }
    .gap12-xs { gap: 88px; }
    .gap13-xs { gap: 96px; }
    .gap14-xs { gap: 104px; }
    .gap15-xs { gap: 112px; }
    .gap16-xs { gap: 120px; }
    .gap17-xs { gap: 128px; }
    .gap18-xs { gap: 136px; }
    .gap19-xs { gap: 144px; }
    .gap20-xs { gap: 152px; }
    .gap21-xs { gap: 160px; }
    .gap22-xs { gap: 168px; }
    .gap23-xs { gap: 176px; }
    .gap24-xs { gap: 184px; }
    .gap25-xs { gap: 192px; }
    .gap26-xs { gap: 200px; }
    .gap27-xs { gap: 208px; }
    .gap28-xs { gap: 216px; }

    .gridcols1-xs { grid-template-columns: repeat(1, minmax(0, 1fr)); }
    .gridcols2-xs { grid-template-columns: repeat(2, minmax(0, 1fr)); }
    .gridcols3-xs { grid-template-columns: repeat(3, minmax(0, 1fr)); }
    .gridcols4-xs { grid-template-columns: repeat(4, minmax(0, 1fr)); }
    .gridcols5-xs { grid-template-columns: repeat(5, minmax(0, 1fr)); }
    .gridcols6-xs { grid-template-columns: repeat(6, minmax(0, 1fr)); }
    .gridcols7-xs { grid-template-columns: repeat(7, minmax(0, 1fr)); }
    .gridcols8-xs { grid-template-columns: repeat(8, minmax(0, 1fr)); }
    .gridcols9-xs { grid-template-columns: repeat(9, minmax(0, 1fr)); }
    .gridcols10-xs { grid-template-columns: repeat(10, minmax(0, 1fr)); }
    .gridcols11-xs { grid-template-columns: repeat(11, minmax(0, 1fr)); }
    .gridcols12-xs { grid-template-columns: repeat(12, minmax(0, 1fr)); }
    .gridcols13-xs { grid-template-columns: repeat(13, minmax(0, 1fr)); }

    .colstart1-xs { grid-column-start: 1; }
    .colstart2-xs { grid-column-start: 2; }
    .colstart3-xs { grid-column-start: 3; }
    .colstart4-xs { grid-column-start: 4; }
    .colstart5-xs { grid-column-start: 5; }
    .colstart6-xs { grid-column-start: 6; }
    .colstart7-xs { grid-column-start: 7; }
    .colstart8-xs { grid-column-start: 8; }
    .colstart9-xs { grid-column-start: 9; }
    .colstart10-xs { grid-column-start: 10; }
    .colstart11-xs { grid-column-start: 11; }
    .colstart12-xs { grid-column-start: 12; }
    .colstart13-xs { grid-column-start: 13; }

    .colend1-xs { grid-column-end: 1; }
    .colend2-xs { grid-column-end: 2; }
    .colend3-xs { grid-column-end: 3; }
    .colend4-xs { grid-column-end: 4; }
    .colend5-xs { grid-column-end: 5; }
    .colend6-xs { grid-column-end: 6; }
    .colend7-xs { grid-column-end: 7; }
    .colend8-xs { grid-column-end: 8; }
    .colend9-xs { grid-column-end: 9; }
    .colend10-xs { grid-column-end: 10; }
    .colend11-xs { grid-column-end: 11; }
    .colend12-xs { grid-column-end: 12; }
    .colend13-xs { grid-column-end: 13; }

    .colspan1-xs { grid-column: span 1; }
    .colspan2-xs { grid-column: span 2; }
    .colspan3-xs { grid-column: span 3; }
    .colspan4-xs { grid-column: span 4; }
    .colspan5-xs { grid-column: span 5; }
    .colspan6-xs { grid-column: span 6; }
    .colspan7-xs { grid-column: span 7; }
    .colspan8-xs { grid-column: span 8; }
    .colspan9-xs { grid-column: span 9; }
    .colspan10-xs { grid-column: span 10; }
    .colspan11-xs { grid-column: span 11; }
    .colspan12-xs { grid-column: span 12; }
    .colspan13-xs { grid-column: span 13; }
}

@media screen and (min-width: 600px) and (max-width: 899px) {
    .grid-sm { display: grid; display: -ms-grid; }
    .fixed-sm { position: fixed; }
    .block-sm { position: block; }
    .sticky-sm { position: sticky; }
    .relative-sm { position: relative; }
    .absolute-sm { position: absolute; }
    .static-sm { position: static; }
    .hide-sm { display: none !important; }
    .flex-sm { display: flex; display: -ms-flexbox; }
    .flexwrap-true-sm { flex-wrap: wrap; -ms-flex-wrap: wrap; }
    .flexwrap-false-sm { flex-wrap: nowrap; }
    .flexdir-row-sm { flex-direction: row; }
    .flexdir-rowrev-sm { flex-direction: row-reverse; }
    .flexdir-col-sm { flex-direction: column; }
    .flexdir-colrev-sm { flex-direction: column-reverse; }
    .justify-between-sm { justify-content: space-between; }
    .justify-around-sm { justify-content: space-around; }
    .vertically-center-sm { align-items: center; -ms-flex-align: center; }
    .vertically-stretch-sm { align-items: stretch; -ms-flex-align: stretch;}
    
    .gap0-sm { gap: 0px }
    .gap1-sm { gap: 4px; }
    .gap2-sm { gap: 8px; }
    .gap3-sm { gap: 16px; }
    .gap4-sm { gap: 24px; }
    .gap5-sm { gap: 32px; }
    .gap6-sm { gap: 40px; }
    .gap7-sm { gap: 48px; }
    .gap8-sm { gap: 56px; }
    .gap9-sm { gap: 64px; }
    .gap10-sm { gap: 72px; }
    .gap11-sm { gap: 80px; }
    .gap12-sm { gap: 88px; }
    .gap13-sm { gap: 96px; }
    .gap14-sm { gap: 104px; }
    .gap15-sm { gap: 112px; }
    .gap16-sm { gap: 120px; }
    .gap17-sm { gap: 128px; }
    .gap18-sm { gap: 136px; }
    .gap19-sm { gap: 144px; }
    .gap20-sm { gap: 152px; }
    .gap21-sm { gap: 160px; }
    .gap22-sm { gap: 168px; }
    .gap23-sm { gap: 176px; }
    .gap24-sm { gap: 184px; }
    .gap25-sm { gap: 192px; }
    .gap26-sm { gap: 200px; }
    .gap27-sm { gap: 208px; }
    .gap28-sm { gap: 216px; }

    .gridcols1-sm { grid-template-columns: repeat(1, minmax(0, 1fr)); }
    .gridcols2-sm { grid-template-columns: repeat(2, minmax(0, 1fr)); }
    .gridcols3-sm { grid-template-columns: repeat(3, minmax(0, 1fr)); }
    .gridcols4-sm { grid-template-columns: repeat(4, minmax(0, 1fr)); }
    .gridcols5-sm { grid-template-columns: repeat(5, minmax(0, 1fr)); }
    .gridcols6-sm { grid-template-columns: repeat(6, minmax(0, 1fr)); }
    .gridcols7-sm { grid-template-columns: repeat(7, minmax(0, 1fr)); }
    .gridcols8-sm { grid-template-columns: repeat(8, minmax(0, 1fr)); }
    .gridcols9-sm { grid-template-columns: repeat(9, minmax(0, 1fr)); }
    .gridcols10-sm { grid-template-columns: repeat(10, minmax(0, 1fr)); }
    .gridcols11-sm { grid-template-columns: repeat(11, minmax(0, 1fr)); }
    .gridcols12-sm { grid-template-columns: repeat(12, minmax(0, 1fr)); }
    .gridcols13-sm { grid-template-columns: repeat(13, minmax(0, 1fr)); }

    .colstart1-sm { grid-column-start: 1; }
    .colstart2-sm { grid-column-start: 2; }
    .colstart3-sm { grid-column-start: 3; }
    .colstart4-sm { grid-column-start: 4; }
    .colstart5-sm { grid-column-start: 5; }
    .colstart6-sm { grid-column-start: 6; }
    .colstart7-sm { grid-column-start: 7; }
    .colstart8-sm { grid-column-start: 8; }
    .colstart9-sm { grid-column-start: 9; }
    .colstart10-sm { grid-column-start: 10; }
    .colstart11-sm { grid-column-start: 11; }
    .colstart12-sm { grid-column-start: 12; }
    .colstart13-sm { grid-column-start: 13; }

    .colend1-sm { grid-column-end: 1; }
    .colend2-sm { grid-column-end: 2; }
    .colend3-sm { grid-column-end: 3; }
    .colend4-sm { grid-column-end: 4; }
    .colend5-sm { grid-column-end: 5; }
    .colend6-sm { grid-column-end: 6; }
    .colend7-sm { grid-column-end: 7; }
    .colend8-sm { grid-column-end: 8; }
    .colend9-sm { grid-column-end: 9; }
    .colend10-sm { grid-column-end: 10; }
    .colend11-sm { grid-column-end: 11; }
    .colend12-sm { grid-column-end: 12; }
    .colend13-sm { grid-column-end: 13; }

    .colspan1-sm { grid-column: span 1; }
    .colspan2-sm { grid-column: span 2; }
    .colspan3-sm { grid-column: span 3; }
    .colspan4-sm { grid-column: span 4; }
    .colspan5-sm { grid-column: span 5; }
    .colspan6-sm { grid-column: span 6; }
    .colspan7-sm { grid-column: span 7; }
    .colspan8-sm { grid-column: span 8; }
    .colspan9-sm { grid-column: span 9; }
    .colspan10-sm { grid-column: span 10; }
    .colspan11-sm { grid-column: span 11; }
    .colspan12-sm { grid-column: span 12; }
    .colspan13-sm { grid-column: span 13; }
}

@media screen and (min-width: 900px) {
    .grid-md { display: grid; display: -ms-grid; }
    .fixed-md { position: fixed; }
    .block-md { position: block; }
    .sticky-md { position: sticky; }
    .relative-md { position: relative; }
    .absolute-md { position: absolute; }
    .static-md { position: static; }
    .hide-md { display: none !important; }
    .flex-md { display: flex; display: -ms-flexbox; }
    .flexwrap-true-md { flex-wrap: wrap; -ms-flex-wrap: wrap; }
    .flexwrap-false-md { flex-wrap: nowrap; }
    .flexdir-row-md { flex-direction: row; }
    .flexdir-rowrev-md { flex-direction: row-reverse; }
    .flexdir-col-md { flex-direction: column; }
    .flexdir-colrev-md { flex-direction: column-reverse; }
    .justify-between-md { justify-content: space-between; }
    .justify-around-md { justify-content: space-around; }
    .vertically-center-md { align-items: center; -ms-flex-align: center; }
    .vertically-stretch-md { align-items: stretch; -ms-flex-align: stretch;}
    
    .gap0-md { gap: 0px }
    .gap1-md { gap: 4px; }
    .gap2-md { gap: 8px; }
    .gap3-md { gap: 16px; }
    .gap4-md { gap: 24px; }
    .gap5-md { gap: 32px; }
    .gap6-md { gap: 40px; }
    .gap7-md { gap: 48px; }
    .gap8-md { gap: 56px; }
    .gap9-md { gap: 64px; }
    .gap10-md { gap: 72px; }
    .gap11-md { gap: 80px; }
    .gap12-md { gap: 88px; }
    .gap13-md { gap: 96px; }
    .gap14-md { gap: 104px; }
    .gap15-md { gap: 112px; }
    .gap16-md { gap: 120px; }
    .gap17-md { gap: 128px; }
    .gap18-md { gap: 136px; }
    .gap19-md { gap: 144px; }
    .gap20-md { gap: 152px; }
    .gap21-md { gap: 160px; }
    .gap22-md { gap: 168px; }
    .gap23-md { gap: 176px; }
    .gap24-md { gap: 184px; }
    .gap25-md { gap: 192px; }
    .gap26-md { gap: 200px; }
    .gap27-md { gap: 208px; }
    .gap28-md { gap: 216px; }

    .gridcols1-md { grid-template-columns: repeat(1, minmax(0, 1fr)); }
    .gridcols2-md { grid-template-columns: repeat(2, minmax(0, 1fr)); }
    .gridcols3-md { grid-template-columns: repeat(3, minmax(0, 1fr)); }
    .gridcols4-md { grid-template-columns: repeat(4, minmax(0, 1fr)); }
    .gridcols5-md { grid-template-columns: repeat(5, minmax(0, 1fr)); }
    .gridcols6-md { grid-template-columns: repeat(6, minmax(0, 1fr)); }
    .gridcols7-md { grid-template-columns: repeat(7, minmax(0, 1fr)); }
    .gridcols8-md { grid-template-columns: repeat(8, minmax(0, 1fr)); }
    .gridcols9-md { grid-template-columns: repeat(9, minmax(0, 1fr)); }
    .gridcols10-md { grid-template-columns: repeat(10, minmax(0, 1fr)); }
    .gridcols11-md { grid-template-columns: repeat(11, minmax(0, 1fr)); }
    .gridcols12-md { grid-template-columns: repeat(12, minmax(0, 1fr)); }
    .gridcols13-md { grid-template-columns: repeat(13, minmax(0, 1fr)); }

    .colstart1-md { grid-column-start: 1; }
    .colstart2-md { grid-column-start: 2; }
    .colstart3-md { grid-column-start: 3; }
    .colstart4-md { grid-column-start: 4; }
    .colstart5-md { grid-column-start: 5; }
    .colstart6-md { grid-column-start: 6; }
    .colstart7-md { grid-column-start: 7; }
    .colstart8-md { grid-column-start: 8; }
    .colstart9-md { grid-column-start: 9; }
    .colstart10-md { grid-column-start: 10; }
    .colstart11-md { grid-column-start: 11; }
    .colstart12-md { grid-column-start: 12; }
    .colstart13-md { grid-column-start: 13; }

    .colend1-md { grid-column-end: 1; }
    .colend2-md { grid-column-end: 2; }
    .colend3-md { grid-column-end: 3; }
    .colend4-md { grid-column-end: 4; }
    .colend5-md { grid-column-end: 5; }
    .colend6-md { grid-column-end: 6; }
    .colend7-md { grid-column-end: 7; }
    .colend8-md { grid-column-end: 8; }
    .colend9-md { grid-column-end: 9; }
    .colend10-md { grid-column-end: 10; }
    .colend11-md { grid-column-end: 11; }
    .colend12-md { grid-column-end: 12; }
    .colend13-md { grid-column-end: 13; }

    .colspan1-md { grid-column: span 1; }
    .colspan2-md { grid-column: span 2; }
    .colspan3-md { grid-column: span 3; }
    .colspan4-md { grid-column: span 4; }
    .colspan5-md { grid-column: span 5; }
    .colspan6-md { grid-column: span 6; }
    .colspan7-md { grid-column: span 7; }
    .colspan8-md { grid-column: span 8; }
    .colspan9-md { grid-column: span 9; }
    .colspan10-md { grid-column: span 10; }
    .colspan11-md { grid-column: span 11; }
    .colspan12-md { grid-column: span 12; }
    .colspan13-md { grid-column: span 13; }
}

@media screen and (min-width: 1200px) {
    .grid-lg { display: grid; display: -ms-grid; }
    .fixed-lg { position: fixed; }
    .block-lg { position: block; }
    .sticky-lg { position: sticky; }
    .relative-lg { position: relative; }
    .absolute-lg { position: absolute; }
    .static-lg { position: static; }
    .hide-lg { display: none !important; }
    .flex-lg { display: flex; display: -ms-flexbox; }
    .flexwrap-true-lg { flex-wrap: wrap; -ms-flex-wrap: wrap; }
    .flexwrap-false-lg { flex-wrap: nowrap; }
    .flexdir-row-lg { flex-direction: row; }
    .flexdir-rowrev-lg { flex-direction: row-reverse; }
    .flexdir-col-lg { flex-direction: column; }
    .flexdir-colrev-lg { flex-direction: column-reverse; }
    .justify-between-lg { justify-content: space-between; }
    .justify-around-lg { justify-content: space-around; }
    .vertically-center-lg { align-items: center; -ms-flex-align: center; }
    .vertically-stretch-lg { align-items: stretch; -ms-flex-align: stretch;}
    
    .gap0-lg { gap: 0px }
    .gap1-lg { gap: 4px; }
    .gap2-lg { gap: 8px; }
    .gap3-lg { gap: 16px; }
    .gap4-lg { gap: 24px; }
    .gap5-lg { gap: 32px; }
    .gap6-lg { gap: 40px; }
    .gap7-lg { gap: 48px; }
    .gap8-lg { gap: 56px; }
    .gap9-lg { gap: 64px; }
    .gap10-lg { gap: 72px; }
    .gap11-lg { gap: 80px; }
    .gap12-lg { gap: 88px; }
    .gap13-lg { gap: 96px; }
    .gap14-lg { gap: 104px; }
    .gap15-lg { gap: 112px; }
    .gap16-lg { gap: 120px; }
    .gap17-lg { gap: 128px; }
    .gap18-lg { gap: 136px; }
    .gap19-lg { gap: 144px; }
    .gap20-lg { gap: 152px; }
    .gap21-lg { gap: 160px; }
    .gap22-lg { gap: 168px; }
    .gap23-lg { gap: 176px; }
    .gap24-lg { gap: 184px; }
    .gap25-lg { gap: 192px; }
    .gap26-lg { gap: 200px; }
    .gap27-lg { gap: 208px; }
    .gap28-lg { gap: 216px; }

    .gridcols1-lg { grid-template-columns: repeat(1, minmax(0, 1fr)); }
    .gridcols2-lg { grid-template-columns: repeat(2, minmax(0, 1fr)); }
    .gridcols3-lg { grid-template-columns: repeat(3, minmax(0, 1fr)); }
    .gridcols4-lg { grid-template-columns: repeat(4, minmax(0, 1fr)); }
    .gridcols5-lg { grid-template-columns: repeat(5, minmax(0, 1fr)); }
    .gridcols6-lg { grid-template-columns: repeat(6, minmax(0, 1fr)); }
    .gridcols7-lg { grid-template-columns: repeat(7, minmax(0, 1fr)); }
    .gridcols8-lg { grid-template-columns: repeat(8, minmax(0, 1fr)); }
    .gridcols9-lg { grid-template-columns: repeat(9, minmax(0, 1fr)); }
    .gridcols10-lg { grid-template-columns: repeat(10, minmax(0, 1fr)); }
    .gridcols11-lg { grid-template-columns: repeat(11, minmax(0, 1fr)); }
    .gridcols12-lg { grid-template-columns: repeat(12, minmax(0, 1fr)); }
    .gridcols13-lg { grid-template-columns: repeat(13, minmax(0, 1fr)); }

    .colstart1-lg { grid-column-start: 1; }
    .colstart2-lg { grid-column-start: 2; }
    .colstart3-lg { grid-column-start: 3; }
    .colstart4-lg { grid-column-start: 4; }
    .colstart5-lg { grid-column-start: 5; }
    .colstart6-lg { grid-column-start: 6; }
    .colstart7-lg { grid-column-start: 7; }
    .colstart8-lg { grid-column-start: 8; }
    .colstart9-lg { grid-column-start: 9; }
    .colstart10-lg { grid-column-start: 10; }
    .colstart11-lg { grid-column-start: 11; }
    .colstart12-lg { grid-column-start: 12; }
    .colstart13-lg { grid-column-start: 13; }

    .colend1-lg { grid-column-end: 1; }
    .colend2-lg { grid-column-end: 2; }
    .colend3-lg { grid-column-end: 3; }
    .colend4-lg { grid-column-end: 4; }
    .colend5-lg { grid-column-end: 5; }
    .colend6-lg { grid-column-end: 6; }
    .colend7-lg { grid-column-end: 7; }
    .colend8-lg { grid-column-end: 8; }
    .colend9-lg { grid-column-end: 9; }
    .colend10-lg { grid-column-end: 10; }
    .colend11-lg { grid-column-end: 11; }
    .colend12-lg { grid-column-end: 12; }
    .colend13-lg { grid-column-end: 13; }

    .colspan1-lg { grid-column: span 1; }
    .colspan2-lg { grid-column: span 2; }
    .colspan3-lg { grid-column: span 3; }
    .colspan4-lg { grid-column: span 4; }
    .colspan5-lg { grid-column: span 5; }
    .colspan6-lg { grid-column: span 6; }
    .colspan7-lg { grid-column: span 7; }
    .colspan8-lg { grid-column: span 8; }
    .colspan9-lg { grid-column: span 9; }
    .colspan10-lg { grid-column: span 10; }
    .colspan11-lg { grid-column: span 11; }
    .colspan12-lg { grid-column: span 12; }
    .colspan13-lg { grid-column: span 13; }
}