@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --color-bg-1: #F5F9FF;
    --color-bg-2: #ffffff;
    --color-bg-3: #e0e9f6;
    --color-text: #161616;
    --color-text-callout-1: #161616;
    --color-text-callout-2: #9B2AE0;
    --color-text-callout-2: #9B2AE0;
    --color-button-bg-1: #9B2AE0;
    --color-button-text-1: #FFFFFF;
    --color-button-border-1: #9B2AE0;
    --color-button-bg-2: #D4BAFD;
    --color-button-text-2: #9B2AE0;
    --color-button-border-2: #9B2AE0;
    --color-border: #9b9b9b;
    --color-error: #E8319E;
    --color-success: #6CF0C8;
    --font-family: 'Roboto', sans-serif;
    --font-family-condensed: 'Roboto Condensed', sans-serif;
}

html, body {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    line-height: 1.15;
    scroll-behavior: smooth;
    font-family: var(--font-family);
    background: var(--color-bg-1);
    color: var(--color-text);
}

*,
*::before,
*::after { -webkit-box-sizing: inherit; box-sizing: inherit; }

p, li { line-height: 144%; }
a p { color: var(--color-text); }

#nav { width: 100%; height: 65px; }