.bgcolor1 { background: var(--color-bg-1); }
.bgcolor2 { background: var(--color-bg-2); }
.textcolor { color: var(--color-text); }
.textcallout1 { color: var(--color-text-callout-1) !important; }
.textcallout2 { color: var(--color-text-callout-2) !important; }
.textcallout3 { color: var(--color-text-callout-3) !important; }
.opacity0 { color: #13111C00; }

.navbutton {
    cursor: pointer;
    background: var(--color-button-bg-1);
    color: var(--color-button-text-1);
    border: 1px solid var(--color-button-border-1);
    font-weight: 600;
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 100px;
    text-decoration: none;
    transition: all 200ms;
}

.cta1 {
    background: var(--color-button-bg-1);
    color: var(--color-button-text-1);
    border: 1px solid var(--color-button-border-1);
    font-weight: 600;
    font-size: 16px;
    padding: 16px 32px;
    border-radius: 100px;
    text-decoration: none;
    transition: all 200ms;
}

.navbutton:hover, .cta1:hover {
    background: #8900c0;
    border: 1px solid #8900c0;
}

.navbutton:focus, .cta1:focus {
    background: #6d0098;
    border: 1px solid #6d0098;
}

.navbutton:active, .cta1:active {
    background: #600086;
    border: 1px solid #600086;
}

.cta2 {
    background: var(--color-button-bg-2);
    color: var(--color-button-text-2);
    border: 1px solid var(--color-button-border-2);
    font-weight: 600;
    font-size: 16px;
    padding: 16px 32px;
    border-radius: 100px;
    text-decoration: none;
}

.cta2:hover {
    background: #131313;
    border: 1px solid var(--color-button-border-2);
}

.cta2:focus {
    background: #1c1c1c;
    border: 1px solid var(--color-button-border-2);
}

.cta2:active {
    background: #292929;
    border: 1px solid var(--color-button-border-2);
}

.textleft { text-align: left; }
.textright { text-align: right; }
.textcenter { text-align: center; }

.header1 {
    font-family: Barlow;
    font-size: 48px !important;
    font-style: normal;
    font-weight: 700;
    line-height: 108%;
}

.header2 {
    font-size: 24px !important;
    font-style: normal !important;
    font-weight: 700 !important;
    line-height: 108% !important;
}

.header3 {
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 700 !important;
    line-height: 108% !important;
}

.link {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    padding: 16px 0;
    line-height: 122%;
    color: var(--color-text);
}