button {
    background: none;
    margin: 0;
    padding: 0;
    border: none;
    text-align: left;
    color: inherit;
    cursor: pointer;
}

.bgcolor1 { background: var(--color-bg-1); }
.bgcolor2 { background: var(--color-bg-2); }
.textcolor { color: var(--color-text); }
.textcallout1 { color: var(--color-text-callout-1) !important; }
.textcallout2 { color: var(--color-text-callout-2) !important; }
.opacity0 { color: #13111C00; }

.navbutton1 {
    cursor: pointer;
    color: var(--color-button-text-1);
    border: none;
    font-size: 14px;
    padding: 18px 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    transition: all 200ms;
}

.navbutton1:hover {
    background: #E5EFFF;
}

.navbutton1:focus {
    background: #d8e7ff;
}

.navbutton1:active {
    background: #cde0ff;
}

.navbutton2 {
    cursor: pointer;
    color: var(--color-button-text-1);
    border: none;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    padding: 24px 16px;
    height: 100%;
    text-decoration: none;
    transition: all 200ms;
}

.navbutton2:hover {
    background: #E5EFFF;
}

.navbutton2:focus {
    background: #d8e7ff;
}

.navbutton2:active {
    background: #cde0ff;
}

.navbutton3 {
    cursor: pointer;
    background: var(--color-button-bg-1);
    color: var(--color-button-text-1);
    border: none;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    align-items: center;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    font-size: 14px;
    padding: 24px 32px;
    text-decoration: none;
    transition: all 200ms;
}

.navbutton3:hover {
    background: #871fc8;
}

.navbutton3:focus {
    background: #7518ae;
}

.navbutton3:active {
    background: #5f1090;
}

.cta1 {
    background: var(--color-button-bg-1);
    color: var(--color-button-text-1);
    border: 1px solid var(--color-button-border-1);
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    padding: 16px 32px;
    text-decoration: none;
    transition: all 200ms;
}

.cta1:hover, .cta4:hover {
    background: #871fc8;
}

.cta1:focus, .cta4:hover {
    background: #7518ae;
}

.cta1:active, .cta4:hover {
    background: #5f1090;
}

.cta2 {
    background: var(--color-button-bg-2);
    color: var(--color-button-text-2);
    border: 1px solid var(--color-button-border-2);
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    padding: 16px 32px;
    text-decoration: none;
    transition: all 200ms;
}

.cta2:hover {
    background: #cbabff;
}

.cta2:focus {
    background: #b587ff;
}

.cta2:active {
    background: #ad7aff;
}

.cta3 {
    background: #fff;
    color: #161616;
    border: none;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    transition: all 200ms;
}

.cta3:hover {
    background: #E5EFFF;
}

.cta3:focus {
    background: #dae8ff;
}

.cta3:active {
    background: #cde0ff;
}

.cta4 {
    background: var(--color-button-bg-1);
    color: var(--color-button-text-1);
    border: 1px solid var(--color-button-border-1);
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    padding: 8px 16px;
    text-decoration: none;
    transition: all 200ms;
}

.navbutton:hover, .cta1:hover {
    background: #8900c0;
    border: 1px solid #8900c0;
}

.navbutton:focus, .cta1:focus {
    background: #6d0098;
    border: 1px solid #6d0098;
}

.navbutton:active, .cta1:active {
    background: #600086;
    border: 1px solid #600086;
}

.textleft { text-align: left; }
.textright { text-align: right; }
.textcenter { text-align: center; }

.header1 {
    font-size: 52px !important;
    font-style: normal;
    font-style: italic;
    font-weight: 700;
    line-height: 106% !important;
}

.header2 {
    font-size: 24px !important;
    font-style: normal !important;
    font-weight: 200 !important;
    line-height: 108% !important;
}

.header3 {
    font-size: 18px !important;
    font-style: normal !important;
    font-weight: 600 !important;
    line-height: 108% !important;
}

.header-treelink {
    padding-left: 8px;
    padding-right: 8px;
    font-family: var(--font-family-condensed); 
    font-weight: 500;
    text-transform: uppercase;
}

.overline {
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 300 !important;
    line-height: 108% !important;
}

.link {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    padding: 16px 0;
    line-height: 122%;
    color: var(--color-text);
}

.treelink {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    padding: 12px 8px;
    line-height: 112%;
    color: var(--color-text);
    transition: all 200ms;
}

.treelink-indented {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    padding: 4px 4px 4px 8px;
    line-height: 122%;
    color: var(--color-text);
    transition: all 200ms;
}

.treelink:hover, .treelink-indented:hover {
    background: #E5EFFF;
}

.treelink:focus, .treelink-indented:focus {
    background: #dae8ff;
}

.treelink:focus, .treelink-indented:focus {
    background: #cde0ff;
}

.callout-sm {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
    line-height: normal;
    text-decoration: none;
}

@media screen and (min-width: 0px) and (max-width: 899px) {
    .navbutton1 { padding: 18px 16px; }
    .navbutton3 { padding: 16px 16px; }
}