#container-photo {
    border-top: .3px solid #7a7a7a;
    border-right: .3px solid #7a7a7a;
    width: 240px;
    height: 240px;
}

.card-photo { background: var(--color-bg-1); border-bottom: .3px solid #7a7a7a; border-left: .3px solid #7a7a7a; width: 40px; height: 40px; }
.decoration-photo-vertical { width: 3px; height: 24px; background: #7a7a7a; }
.decoration-photo-horizontal { width: 24px; height: 3px; background: #7a7a7a; }

.full-width { width: 100%; }
.container-wrapper { padding-top: 148px; margin-right: 8px; margin-left: 8px; }
.container { max-width: 1080px; margin: 0 auto; }
.container-outlined { max-width: 1080px; margin: 0 auto; border: .3px solid var(--color-border); }
.container-innerleft1 { width: 440px; padding: 32px 40px; }
.divider1 { width: 180px; background: var(--color-text-callout-2); height: 1px; }
.divider2 { width: 180px; background: var(--color-text-callout-3); height: 1px; }
.card1 { border-radius: 8px; text-decoration: none; background: var(--color-bg-1); border: 1px solid #8536CA; box-shadow: 0px 8px 180px 0px rgba(133, 54, 202, 0.20); }
.card2 { border-radius: 8px; text-decoration: none; background: var(--color-bg-1); border: 1px solid #E561AF; box-shadow: 0px 8px 180px 0px rgba(229, 97, 175, 0.15); }
.card-nobottompadding { padding-bottom: 0px; }
.card-link { cursor: pointer; }
.card-link:hover { background: #161616; }
.card-link:hover > div > img { transform: scale(1.02); transition: all 200ms; }
.card-link:focus { background: #272727; }
.card-link:active { background: #2e2e2e; }

@media screen and (min-width: 0px) and (max-width: 899px) {
    .card { background: var(--color-bg-1); border-bottom: .3px solid var(--color-border); border-left: .3px solid var(--color-border); padding-top: 32px; padding-bottom: 32px; }
    .card-nobottompadding { padding-bottom: 0px; }
}